/* Footer */
.uppercase {
    text-transform: uppercase;
}
footer{
    margin: auto;
    background: $secondaryColor;
    padding: 70px 0;
    color: $white;

    .footer-left-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        .footer-address {
            margin: auto;
            width: 250px;
            text-transform: uppercase;
        }
    }
    ul {
       &.footer {
           li {
            font-size: 18px;
            line-height: 200%;
                &.current-menu-item {
                    a {
                        color: $white;
                    }
                }
                a {
                    color:$red;
                    text-decoration: none; 
                    &:hover {
                        color:$white;
                    }
                }
           }
       }
    }
}

