*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul {
	list-style-type:none;
}

.wrapper-container {
    padding: 20px;
}

.black {
	color: $black;
}

.white {
	color: $white;
}

.container.row-one {
	margin-top:150px;
}

/* Table */
.table th, .table td { 
	color: $white;
	border-top: none; 
}